In [69]:
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv("stats1.csv")
target_names = df["TD"]

In [71]:
data = df.drop("TD", axis=1)

feature_names = data.columns
data.head()

   Att  Cmp   Pct   Yds  YPA  Int  Int%  Lg  Sack  Loss   Rate
0  489  364  74.4  3992  8.2    5   1.0  72    17   121  115.7
1  580  383  66.0  5097  8.8   12   2.1  89    26   171  113.8
2  427  280  65.6  3448  8.1    7   1.6  66    51   355  110.9
3  608  422  69.4  4924  8.1    7   1.2  75    42   296  108.1
4  508  347  68.3  4308  8.5   12   2.4  75    32   204  105.5

In [72]:
data = df.values
X = data[:, 0:11]
y = data[:, 11]
y=y.astype('int')
X=X.astype('int')

In [73]:
model = LinearRegression()
model.fit(X, y)
score = model.score(X, y)
print(f"R2 Score: {score}")

R2 Score: 0.9652499631972966

In [74]:
model.predict(np.array([[489, 364, 74.4, 3992.0, 8.2, 5, 1.0, 72, 17, 121, 115.7]]))

array([31.23293366])